* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container {
    max-width: 1500px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 0px 10%;
    overflow: hidden;
}

.background {
    width: 35%;
    height: 100%;
    position: absolute;
    right: 0;
    background: url("images/right-img.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 100% 0 0 100% / 100% 0 0 100%;
    transform: scaleY(1.1);
}

.decor {
    height: 50%;
    position: absolute;
    right: 1%;
    border-radius: 100% 0 0 100% / 100% 0% 0% 100%;
}

.navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 10px;
}

.main-logo {
    width: 70px;
}

.main-logo img {
    width: 100%;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;   
}

.navbar ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}
.navbar ul li a:hover, .navbar ul li .active {
    color: royalblue;
}